.container {
    width:800px;
    margin:auto;
    border: 1px solid black;
    padding: 5px;
    /* overflow: auto; */
}

.container img {
    width:200px;
    height:auto;
    float: left;
    object-fit: cover;
}

.container p {
    font-family: 'Time New Roman', sans-serif;
    font-size: 15px;
    margin: 5px;
}

.clear {
    clear:left;
}